$eer-common-color-font-error: #e91b06;
$eer-common-color-font-normal: #333;
$eer-common-color-font-light: #666;
$eer-common-color-dash: #ccc;
$eer-common-color-shadow: #f9f9fb;
$eer-common-color-white: #fff;
$eer-common-weight-font-normal: 300;
$eer-common-weight-font-bold: 500;
$eer-common-font-size-medium: 1rem;
$eer-common-font-size-small: 0.8125rem;
$eer-common-font-size-s-small: 0.625rem;
$eer-common-font-size-xs-small: 0.5rem;
$eer-common-font-size-large: 1.25rem;
$eer-common-font-size-l-large: 1.5rem;
$eer-common-font-size-xl-large: 2rem;
$eer-common-font-size-xxl-large: 2.5rem;
$eer-common-font-size-xxxl-large: 3rem;
$eer-common-space-xs-small: 0.5em;
$eer-common-space-small: 0.75em;
$eer-common-space-medium: 1em;
$eer-common-space-large: 2em;
$eer-common-space-l-large: 2.5em;
$eer-common-space-xl-large: 5em;
$eer-common-desktop-min-width: 37.5em;
